{% extends "base.html" %}
{% block content %}
    {% from 'bootstrap5/form.html' import render_form, render_field, render_form_row %}

    <div class="row">
         <div class="col-5 mx-auto mt-5 mb-5">
             <h3>Inpatient Bed Assignment</h3>
             <body>
                <p>Available Beds</p>
                <table class="table table-striped table-hover">
                 <thead>
                    <tr>
                        <th>Wing</th>
                        <th>Room</th>
                        <th>Bed</th>
                    </tr>
                 </thead>
                 <tbody>
                    {% for i in beds %}
                        <tr>
                            <td>{{ i[0] }}</td>
                            <td>{{ i[1] }}</td>
                            <td>{{ i[2] }}</td>
                        </tr>
                    {% endfor %}
                 </tbody>
                 </table>
             </body>
             <body>
                <p>Nurses</p>
                <table class="table table-striped table-hover">
                 <thead>
                    <tr>
                        <th>Wing</th>
                        <th>Nurse ID</th>
                    </tr>
                 </thead>
                 <tbody>
                    {% for j in nurses[0] %}
                        <tr>
                            <td>{{ j.wing}}</td>
                            <td>{{ j.eid}}</td>
                        </tr>
                    {% endfor %}
                 </tbody>
                 <tbody>
                    {% for k in nurses[1] %}
                        <tr>
                            <td>{{ k.wing}}</td>
                            <td>{{ k.eid}}</td>
                        </tr>
                    {% endfor %}

                 </tbody>
                 </table>
                <br>
             </body>
             <body>
                <p>Physicians</p>
                <table class="table table-striped table-hover">
                 <thead>
                    <tr>
                        <th>Physician ID</th>
                        <th>Patients In Care</th>
                    </tr>
                 </thead>
                 <tbody>
                    {% for physician in physicians %}
                    <tr>
                        <td>{{ physician[0] }}</td>
                        <td>{{ physician[1] }}</td>
                    </tr>
                {% endfor %}
                 </tbody>
                </table>
                <br>
             </body>
             <body>
                {{ render_form(form)}}
             </body>
         </div>
    </div>
{% endblock %}