{% extends "base.html" %}
{% block content %}
    {% from 'bootstrap5/form.html' import render_form, render_field, render_form_row %}
    <div class="row">
         <div class="col-5 mx-auto mt-5 mb-5">
             <h3>Reassignment {{ role }}</h3>
             <body>
             {{ render_form(form)}}
             </body>
             <br>
             <br>
             <body>
                <table class="table table-striped table-hover">
                 <thead>
                    <tr>
                        <th>Physician Name</th>
                        <th>Physician ID</th>
                    </tr>
                 </thead>
                 <tbody>
                    {% for p in physicians %}
                    <tr>
                        <td>{{ p.name }}</td>
                        <td>{{ p.eid }}</td>
                    </tr>
                {% endfor %}
                 </tbody>
                </table>
                <br>
             </body>
             <body>
                <table class="table table-striped table-hover">
                 <thead>
                    <tr>
                        <th>Nurse Name</th>
                        <th>Nurse ID</th>
                    </tr>
                 </thead>
                 <tbody>
                    {% for n in nurses %}
                    <tr>
                        <td>{{ n.name }}</td>
                        <td>{{ n.eid }}</td>
                    </tr>
                {% endfor %}
                 </tbody>
                </table>
                <br>
             </body>
         </div>
    </div>
{% endblock %}