{% extends "base.html" %}
{% block content %}
    {% from 'bootstrap5/form.html' import render_form, render_field, render_form_row %}
    <div class="row">
         <div class="col-5 mx-auto mt-5 mb-5">
             <h3>View Surgery by {{ view_by }}</h3>
             <body>
             {% for s in {{ surgery }} %}
                <tr>
                    <th>surgery.surgery_code</th>
                    <th>Patient: s.pid</th>
                    <th>Surgeon: s.eid</th>
                    <th>Theatre: s.theatre</th>
                    <th>Date: s.date</th>
                    <th>Time: s.time</th>
                </tr>
             {% endfor %}
             </body>
         </div>
    </div>
{% endblock %}