{% extends "base.html" %}
{% block content %}
    {% from 'bootstrap5/form.html' import render_form, render_field, render_form_row %}
    <div class="row">
         <div class="col-5 mx-auto mt-5 mb-5">
             <h3>Schedule Surgery</h3>
             <body>
             <p>Surgery Codes</p>
             <table class="table table-striped table-hover">
                 <thead>
                 <tr>
                     <th>Surgery Code</th>
                     <th>Surgery Type</th>
                     <th>Skill Code</th>
                     <th>Special Needs</th>
                     <th>Anatomical Location</th>
                     <th>Rarity</th>
                 </tr>
                 </thead>
                 <tbody>
                 {% for s in surgery_code %}
                 <tr>
                     <td>{{ s.surgery_code }}</td>
                     <td>{{ s. type }}</td>
                     <td>{{ s.skill_code }}</td>
                     <td>{{ s.special_needs }}</td>
                     <td>{{ s.anatomical_location }}</td>
                     <td>{{ s.rarity }}</td>
                 </tr>
                 {% endfor %}
                 </tbody>
             </table>
             </body>
             <body>
             {{ render_form(form)}}
             </body>
         </div>
    </div>
{% endblock %}