{% extends "base.html" %}
{% block content %}
    {% from 'bootstrap5/form.html' import render_form, render_field, render_form_row %}

    <div class="row">
         <div class="col-5 mx-auto mt-5 mb-5">
             <h3>{{ role }} List</h3>
             <table class="table table-striped table-hover">
             <thead>
                <tr>
                    <th>Staff ID</th>
                    <th>Name</th>
                    <th>SSN</th>
                </tr>
             </thead>
             <tbody>
                {% for i in data %}
                    <tr>
                        <td>{{ i.eid}}</td>
                        <td>{{ i.name}}</td>
                        <td>{{ i.ssn}}</td>
                    </tr>
                {% endfor %}
             </tbody>
             </table>
         </div>
    </div>
{% endblock %}