{% extends "base.html" %}
{% block content %}
    {% from 'bootstrap5/form.html' import render_form, render_field, render_form_row %}
    <div class="row">
         <div class="col-5 mx-auto mt-5 mb-5">
             <h3>Patient Data Query</h3>
             <body>
                {{ render_form(form)}}
             </body>
             <br>
             <br>
             <body>
             <table class="table table-striped table-hover">
                 <thead>
                 <tr>
                     <th>Patient Name</th>
                     <th>Patient ID</th>
                 </tr>
                 </thead>
                 <tbody>
                    {% for p in patient %}
                    <tr>
                        <td>{{ p.name }}</td>
                        <td>{{ p.pid }}</td>
                    </tr>
                    {% endfor %}
                 </tbody>
             </table>

             </body>
         </div>
    </div>

{% endblock %}