<!doctype html>
<html lang="en">
    <head>
        {% block head %}
            <!-- Required meta tags -->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
            <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
            {% block styles %}
                {{ bootstrap.load_css() }}
            {% endblock %}
            <title>{% block title %}CS631{% endblock %}</title>
        {% endblock %}
    </head>
    <body>


<div class="container c">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
    <div class="row">
        <header class="mb-2 type">
            {% from 'bootstrap5/nav.html' import render_nav_item %}
            {% from 'bootstrap5/utils.html' import render_messages %}
            {% from 'bootstrap5/form.html' import render_form, render_field, render_form_row %}
            <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
                <a class="navbar-brand ml-5" href="{{ url_for('clinic.index', page="index")}}">
                    <span class="fs-4">Newark Medical Associates</span>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                        aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <div class="navbar-nav mr-auto">

                            {{ render_nav_item('patient._patient','Patient' ) }}
                            {{ render_nav_item('staff._staff', 'Staff') }}
                            {{ render_nav_item('inpatient._inpatient','Inpatient' ) }}

                    </div>
                </div>
           </nav>
        </header>
    </div>
    </div>
    <div>
    {% block content %}
    {% endblock %}
    </div>

    <footer>
        <p></p>
    </footer>

    </body>
</html>