<!doctype html>
<html lang="en">
    <head>
        {% block head %}
            <!-- Required meta tags -->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
            <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
            {% block styles %}
                {{ bootstrap.load_css() }}
            {% endblock %}
            <title>{% block title %}CS631{% endblock %}</title>
        {% endblock %}
    </head>
    <body>


    <div class="row">
        <div class="container-fluid">

            {% if request.path == '/' %}
                <div class="caption">
                    <h1 class="bodoni yellow_type title_main" style="text-align: center;">CS631</h1><br>
                    <h2 class="baskerville yellow_type subtitle" style="text-align: center;">Newark Medical Associates</h2>
                </div>
            {% endif %}

        </div>

        <div>
        {% block content %}
        {% endblock %}
        </div>

    <footer class="text-center bodoni">
        <p></p>
    </footer>

    </body>
</html>